*{
  font-size: 2rem;
}


header div img{
  height: 45px;
  width: 45px;
}

header div h2{
  font-weight: 900;
}

header div{
  display: flex;
  justify-content: space-between;
  margin: 1.5rem 2rem 1.5rem 2rem;

}

header nav ul{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  gap: 0.8rem;

  font-weight: 600;

}


