.header {
  width: 100%;
  height: 90px;
  background-color: #28151c;
}

.header-content {
  max-width: 1750px;
  height: 100%;
  margin: 0 auto;
  padding: 0 16px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.logo {
  text-decoration: none;
  color: #f1e4e9;
  font-weight: 700;
  font-size: 20px;
  cursor: pointer;
}

.nav {
  display: flex;
  align-items: center;
  gap: 24px;
}

.nav a {
  text-decoration: none;
  color: #f1e4e9;
  font-weight: 500;
  padding: 8px 14px;
  border-radius: 8px;
  border: 1px solid transparent;
  transition: all 0.2s ease;
  font-weight: bold;
}

.nav a:hover {
  color: #bf7d94;
  background-color: 0;
}

.nav a.active {
  border: 1px solid #000;
  background-color: #eaeaea;
}

.profile-icon {
  width: 36px;
  height: 36px;
  border-radius: 50%;
  cursor: pointer;
  object-fit: cover;
}
