header{
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  height: 10%;
}

header div img{
  height: 45px;
  width: 45px;
}

header div h2{
  font-weight: 900;
  font-size: 2rem;
}

header div{
  display: flex;
  justify-content: space-around;
  align-items: center;
  gap: 8rem;
  height: 100%;
  width: 100%;
}

header nav ul{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  gap: 0.8rem;

  font-weight: 600;

}


