section.past-events {
  height: 500px;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0 auto;
  margin-top: 250px;
  padding: 10px 32px 32px;
  width: 100%;
  background: #28151c;
  overflow-x: hidden;
  position: relative;
}

section.past-events h2 {
  color: #f1e4e9;
  margin-top: 80px;
  font-size: 42px;
  font-weight: 800;
  text-align: center;
}

.past-events-text {
  max-width: 700px;
  margin-top: 12px;
  text-align: center;
  line-height: 1.6;
  color: #f1e4e9;
}

section.past-events::before,
section.past-events::after {
  content: '';
  position: absolute;
  top: 0;
  height: 100%;
  width: 360px;
  pointer-events: none;
  z-index: 3;
}

section.past-events::before {
  left: 0;
  background: linear-gradient(
    to right,
    rgba(40, 21, 28, 1),
    rgba(40, 21, 28, 0.95),
    rgba(40, 21, 28, 0.8),
    rgba(40, 21, 28, 0.5),
    rgba(40, 21, 28, 0)
  );
}

section.past-events::after {
  right: 0;
  background: linear-gradient(
    to left,
    rgba(40, 21, 28, 1),
    rgba(40, 21, 28, 0.95),
    rgba(40, 21, 28, 0.8),
    rgba(40, 21, 28, 0.5),
    rgba(40, 21, 28, 0)
  );
}

.carousel {
  width: 100%;
  overflow: hidden;
  margin: auto 0;
}

.track {
  display: flex;
  gap: 16px;
  width: max-content;
  animation: scroll 40s linear infinite;
  will-change: transform;
}

.group {
  display: flex;
  gap: 16px;
}

.group img {
  width: 260px;
  height: 160px;
  object-fit: cover;
  border-radius: 16px;
  flex-shrink: 0;
}

@keyframes scroll {
  from {
    transform: translateX(0);
  }
  to {
    transform: translateX(-50%);
  }
}
@media (max-width: 768px) {
  section.past-events {
    height: auto;
    margin-top: 120px;
    padding: 10px 16px 24px;
  }

  section.past-events h2 {
    margin-top: 40px;
    font-size: 28px;
  }

  .past-events-text {
    font-size: 14px;
    max-width: 90%;
    margin-top: 0px;
  }

  section.past-events::before,
  section.past-events::after {
    width: 120px;
  }

  .carousel {
    width: 100%;
    margin-top: 20px;
    margin-bottom: 20px;
  }

  .group img {
    width: 200px;
    height: 130px;
  }
}
