.invite-wrapper {
  min-height: 100vh;
  display: grid;
  place-items: center;
  padding: 3rem;
}

.invite-card {
  width: 1000px;
  aspect-ratio: 4 / 3;

  background-image: url('/images/invitation-desktop.png');
  background-size: 100%;
  background-position: center top;
  background-repeat: no-repeat;

  padding: 5rem 5rem;

  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1.4rem;

  color: #8d2323;
}

.invite-card h1 {
  text-align: center;
  font-size: 1.8rem;
  font-weight: 700;
  margin-top: 4.8rem;
}

.countdown {
  text-align: center;
}

.countdown span {
  font-size: 2.6rem;
  font-weight: 800;
  color: #8d2323;
}
.map-wrapper {
  width: 400px;
  margin-top: 0.6rem;
  border-radius: 15px;
  overflow: hidden;
}

.map-wrapper iframe {
  width: 100%;
  aspect-ratio: 5 / 2;
  border: 0;
}

.info-row {
  text-align: center;
  margin-top: 1rem;
}

.value {
  font-size: 1.1rem;
  font-weight: 600;
  color: #ffffff;
}
.ghost {
  padding: 8px 16px;
  border-radius: 12px;
  font-size: 0.8rem;
  background: transparent;
  color: #cda2b1;
  border: 1px solid rgba(205, 162, 177, 0.4);
  cursor: pointer;
  transition: all 0.2s ease;
}

.ghost:hover {
  background: rgba(205, 162, 177, 0.08);
}
@media (max-width: 640px) {
  .invite-wrapper {
    padding: 1.2rem;
  }

  .invite-card {
    width: 100%;
    max-width: 360px;
    aspect-ratio: 3 / 5;

    background-image: url('/images/invitation-mobile.png');
    background-size: cover;
    background-position: center top;
    background-repeat: no-repeat;

    padding: 3.8rem 2rem;
    gap: 1rem;
  }

  .invite-card h1 {
    font-size: 1rem;
    margin-top: 5rem;
    text-align: center;
  }

  .countdown span {
    font-size: 1.7rem;
  }

  .info-row {
    margin-top: 1.2rem;
    text-align: center;
  }

  .value {
    font-size: 0.95rem;
    color: #ffffff;
  }

  .map-wrapper {
    margin-top: 0.1rem;
    width: 100%;
    max-width: 230px;
    border-radius: 50px;
  }
}
