<section class="register">
  <div class="register-content">
    <section class="register-card">
      <h2>Registrate gratis.</h2>

      <form [formGroup]="form" (ngSubmit)="register()" class="form">
        <input type="text" placeholder="Nombre" formControlName="firstName" />

        <div *ngIf="form.controls.firstName.touched && form.controls.firstName.invalid">
          <small>El nombre es obligatorio</small>
        </div>
        <input type="text" placeholder="Apellido" formControlName="lastName" />

        <div *ngIf="form.controls.lastName.touched && form.controls.lastName.invalid">
          <small>El apellido es obligatorio</small>
        </div>

        <input type="text" placeholder="Teléfono" formControlName="phone" />

        <div *ngIf="form.controls.phone.touched && form.controls.phone.invalid">
          <small *ngIf="form.controls.phone.errors?.['required']">
            El teléfono es obligatorio
          </small>
          <small *ngIf="form.controls.phone.errors?.['pattern']">
            El teléfono debe tener entre 10 y 15 dígitos
          </small>
        </div>
        <input type="email" formControlName="email" placeholder="Correo electrónico" />

        <div *ngIf="form.controls.email.touched && form.controls.email.invalid">
          <small *ngIf="form.controls.email.errors?.['required']"> El email es obligatorio </small>
          <small *ngIf="form.controls.email.errors?.['email']"> Email inválido </small>
        </div>

        <input type="password" placeholder="Contraseña" formControlName="password" />

        <div *ngIf="form.controls.password.touched && form.controls.password.invalid">
          <small *ngIf="form.controls.password.errors?.['required']">
            La contraseña es obligatoria
          </small>
          <small *ngIf="form.controls.password.errors?.['pattern']">
            Debe tener al menos 8 caracteres, una mayúscula y un número
          </small>
        </div>

        <button class="submit" type="submit" [disabled]="form.invalid">Registrarme</button>
      </form>

      <section class="login">
        <a routerLink="/login" class="login-link">Ya tengo una cuenta</a>
      </section>
    </section>
  </div>
</section>
