/* =========================
   HERO – Layout
========================= */
.hero {
  height: 40%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 3rem;
  margin-top: 6rem;
  padding-left: 11rem;
  padding-right: 11rem;
}

/* =========================
   HERO – Typography
========================= */
.hero-title {
  font-size: 3rem;
  font-weight: 600;
}

.hero-text {
  color: #f1e4e9;
  text-align: left;
}

.hero-sub {
  font-size: 1.5rem;
  margin: 0;
}

.hero-min {
  color: #cda2b1;
}

/* =========================
   HERO – Actions
========================= */
.hero-actions {
  display: flex;
  gap: 12px;
  justify-content: left;
  margin-top: 24px;
}

.hero-btn {
  padding: 10px 20px;
  border-radius: 8px;
  font-family: 'Poppins', sans-serif;
  font-size: 14px;
  font-weight: bold;
  cursor: pointer;
  transition: all 0.2s ease;
}

/* Primary */
.hero-btn--primary {
  background: linear-gradient(90deg, #cda2b1 0%, #bf7d94 100%);
  color: #f1e4e9;
  border: none;
}

.hero-btn--primary:hover {
  transform: translateY(-3px);
  box-shadow: 0 8px 10px rgba(0, 0, 0, 0.35);
  background: #f1e4e9;
  color: #b87a8f;
  border: 1px solid #b87a8f;
}

.hero-btn--primary:active {
  transform: translateY(-1px);
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.3);
}

/* Secondary */
.hero-btn--secondary {
  background-color: transparent;
  color: #f1e4e9;
  border: 1px solid #f1e4e9;
}

.hero-btn--secondary:hover {
  transform: translateY(-3px);
  box-shadow: 0 8px 10px rgba(0, 0, 0, 0.35);
  background: #f1e4e9;
  color: #b87a8f;
  border: 1px solid #b87a8f;
}

.hero-btn--secondary:active {
  transform: translateY(-1px);
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.3);
}

/* =========================
   HERO – Image
========================= */

.hero-image {
  display: flex;
  justify-content: center;
  align-items: center;
}

.hero-img {
  height: 280px;
  width: auto;
  display: block;
}
