/* =========================
   HERO – Layout
========================= */
.hero {
  height: 40%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 3rem;
  margin-top: 6rem;
  padding-left: 11rem;
  padding-right: 11rem;
}

/* =========================
   HERO – Typography
========================= */
.hero-title {
  font-size: 2rem;
  font-weight: 600;
}

.hero-text {
  color: #f1e4e9;
  text-align: left;
}

.hero-sub {
  font-size: 3rem;
  margin: 0;
  font-weight: 700;
}

.hero-min {
  color: #cda2b1;
  font-size: 1.2rem;
}

/* =========================
   HERO – Actions
========================= */
.hero-actions {
  display: flex;
  gap: 12px;
  justify-content: left;
  margin-top: 24px;
}

.hero-btn {
  padding: 10px 20px;
  border-radius: 8px;
  font-size: 16px;
  font-weight: bold;
  cursor: pointer;
  transition: all 0.2s ease;
}

.hero-btn--primary {
  background: linear-gradient(90deg, #cda2b1 0%, #bf7d94 100%);
  color: #f1e4e9;
  border: 1px solid transparent;
  box-sizing: border-box;
  transition: all 0.2s ease;
}

.hero-btn--primary:hover {
  transform: translateY(-3px);
  box-shadow: 0 8px 10px rgba(0, 0, 0, 0.35);
  background: #f1e4e9;
  color: #b87a8f;
  border-color: #b87a8f;
}

.hero-btn--primary:active {
  transform: translateY(-1px);
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.3);
}

.hero-btn--secondary {
  background-color: transparent;
  color: #f1e4e9;
  border: 1px solid #f1e4e9;
  box-sizing: border-box;
  transition: all 0.2s ease;
}

.hero-btn--secondary:hover {
  transform: translateY(-3px);
  box-shadow: 0 8px 10px rgba(0, 0, 0, 0.35);
  background: #f1e4e9;
  color: #b87a8f;
  border-color: #b87a8f;
}

.hero-btn--secondary:active {
  transform: translateY(-1px);
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.3);
}
/* =========================
   HERO – Image
========================= */

.hero-image {
  display: flex;
  justify-content: center;
  align-items: center;
}

.hero-img {
  height: 330px;
  width: auto;
  display: block;
}
@media (max-width: 768px) {
  .hero {
    flex-direction: column;
    padding-left: 24px;
    padding-right: 24px;
    margin-top: 3rem;
    gap: 2rem;
    text-align: center;
  }

  .hero-content {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .hero-title {
    font-size: 1.8rem;
  }

  .hero-text {
    text-align: center;
  }

  .hero-sub {
    font-size: 2.2rem;
    line-height: 1.2;
  }

  .hero-min {
    font-size: 1rem;
    margin-top: 8px;
  }

  .hero-actions {
    flex-direction: column;
    width: 100%;
    gap: 14px;
    margin-top: 20px;
  }

  .hero-btn {
    width: 100%;
    padding: 14px;
    font-size: 16px;
  }

  .hero-image {
    order: -1;
  }

  .hero-img {
    height: 220px;
  }
}
