html,
body {
  margin: 0;
  padding: 0;
  min-height: 100%;
}

body {
  background: linear-gradient(180deg, #28151c 10%, #4a2336 35%, #7a4a5e 70%, #b3788e 100%);

  color: white;
  font-family: 'Poppins', sans-serif;
  font-weight: 600;
}
