/* You can add global styles to this file, and also import other style files */

body {
  font-family: Arial, Helvetica, sans-serif;

  background-color: black;
  color: white;

  height: 100%;
}

html {
  box-sizing: border-box;
  height: 100%;
}

ul {
  list-style-type: none;
}

button {
  padding: 0.7rem;
  width: 9.5rem;
  margin: 0.5rem;
  font-weight: 600;
  font-size: 1rem;
  border-radius: 0.3rem;
  border: none;
}

* {
  box-sizing: inherit;
  margin: 0;
  padding: 0;
}
